<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Date Picker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" test-id="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Date Picker
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col size="12">
        <ion-button class="login-btn" (click)="loginPage()" expand="block" fill="outline" shape="round">
          Login Page
        </ion-button>
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Native Picker</ion-label>
          <ion-input type="datetime-local"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="openPicker()">
          Open Native Picker
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>